<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily update</title>
    <link rel="stylesheet" href="/static/stylesheets/update.css">
</head>
<body>
    <header>
        <div class="profile-pic">Pro</div>
        <ul class="options">
            <li class="option"><a href="/templates/home.html">Chat</a></li>
            <li class="option active"><a href="">Update</a></li>
        </ul>
    </header>
    <main>
        <div class="contacts">
            <ul class="users">
                <li class="user">
                    <img src="/static/images/sketch-3054505_1280.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+9145452145 <span class="number-msg">1</span></a>
                </li>
                <li class="user">
                    <img src="/static/images/abraham-lincoln.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+917865820445 <span class="number-msg">1</span></a>
                </li>
                <li class="user">
                    <img src="/static/images/sketch-3054505_1280.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+748414526563 <span class="number-msg">1</span></a>
                </li>
                <li class="user">
                    <img src="/static/images/sketch-3054505_1280.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+4545127245 <span class="number-msg">1</span></a>
                </li>
                <li class="user">
                    <img src="/static/images/sketch-3054505_1280.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+917545452452 <span class="number-msg">1</span></a>
                </li>
                <li class="user">
                    <img src="/static/images/sketch-3054505_1280.png" alt="user-pic" class="user-profile-pic">
                    <a href="" class="info">+9154512457 <span class="number-msg">1</span></a>
                </li>
            </ul>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>